<ul class="nav navbar-nav navbar-right">
  <% if !user_signed_in? %>
    <li><<span class="glyphicon glyphicon-user"></span> <%= link_to "Sign Up", new_user_registration_path %> </li>
    <li><span class="glyphicon glyphicon-log-in"></span> <%= link_to "Log In", new_user_session_path %> </li>
    <%else%>

    <li><%= link_to current_user.name, profile_path, :style=>"border-bottom:black"%> </li>
    <!--
    <li><span class="glyphicon glyphicon-user"></span> Saludos, <%= current_user.name %></li>-->
    <li><span class="glyphicon glyphicon-log-in"></span> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li
  <%end%>
</ul>
